*.pyc
__pycache__
*.zip
nltk_data/*
ask/dafug.py
data.tar.gz
data/*
!data/article-lists/*
!data/organized/*
!data/own/*
!data/classifier.pickle.bz2
util/*.txt
# you know what, let's just put the references in
#references/*